* {
  /* text-align: center; */
  padding: 0;
  margin: 0;
  --background: #d3fff3;
  --buttons: #afbbf2;
  --buttons-border: #7f0799;
  --input-text: Helvetica;
  --buttons-text: Sathu;
  --title-text: Tahoma;
  --text-font: Tahoma;
  font-size: 17pt;
}

html {
  background-color: var(--background);
}

/* This covers my profile picture and the function */
img {
  width: 100%;
  max-width: 90vw;
  border-radius: 15pt;
  border: 10pt;
  border: solid;
  border-color: var(--buttons-border);
}

/* this is for all the buttons */
button {
  width: 160pt;
  height: 60pt;
  border-radius: 15pt;
  border-width: 3pt;
  background-color: var(--buttons);
  border-color: var(--buttons-border);
  color: var(--buttons-border);
  font-family: var(--buttons-text);
  font-size: 25pt;
}

/* titles of each section */
#page-title {
  color: var(--buttons-border);
  font-size: 64pt;
  font-family: var(--title-text);
}
