.about-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.img-about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  justify-content: center;
  width: 300%;
  /* gap: 20pt; */
  /* justify-content: space-between; */
  /* How to fix the text properly here ^^?*/
}

.my-picture-links-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* padding: 5%; */
  justify-content: space-between;
  /* gap: 20pt; */
  margin-top: 0pt;
}

.arrow {
  width: 20%;
  max-width: 90vw;
  border-radius: 0pt;
  border: 0pt;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.intro-text-container {
  display: flex;
  flex-direction: column;
  gap: 40pt;
  padding: 0;
}

#my-pic {
  border-radius: 33% 67% 52% 48% / 35% 47% 53% 65%;
}

#function-pic {
  max-width: 50%;
}
@media only screen and (max-width: 1060px) {
  #function-pic {
    max-width: 200%;
  }
}
.function-pic-container {
  display: flex;
  /* justify-content: space-between; */
  /* Uncomment this above and comment out the lines below to add spanish button */
  justify-content: right;
  margin-right: 100pt;
  /*These two ^^*/
}

@media only screen and (max-width: 2000pt) {
  .function-pic-container {
    justify-content: center;
    margin-right: 0pt;
  }
}

/* .spanish-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3%;
} */
/*The spanish button style works*/

.how-to-speaker {
  display: flex;
  align-items: center;
  margin-bottom: 20pt;
}

#sound-pic {
  margin-top: 3pt;
  max-width: 40pt;
  border: 0pt;
}

#sound-pic:hover {
  cursor: pointer;
}

.subtitle:hover {
  cursor: pointer;
}
