.about-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.img-about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.how-to-pronounce {
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: column;
  /* padding: 5%; */
  max-height: 100%;
  justify-content: center;
  width: 300%;
  /* gap: 20pt; */
  /* justify-content: space-between; */
  /* How to fix the text properly here ^^?*/
}

.my-picture-links-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* padding: 5%; */
  justify-content: space-between;
  /* gap: 20pt; */
  margin-top: 0pt;
}

.arrow {
  width: 20%;
  max-width: 90vw;
  border-radius: 0pt;
  border: 0pt;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.intro-text-container {
  display: flex;
  flex-direction: column;
  gap: 40pt;
  padding: 0;
}

/* #my-pic {
  max-width: 60%;
} */

#function-pic {
  max-width: 40%;
}

.function-pic-container {
  display: flex;
  /* justify-content: space-between; */
  /* Uncomment this above and comment out the lines below to add spanish button */
  justify-content: right;
  margin-right: 100pt;
  /*These two ^^*/
}

/* .spanish-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3%;
} */
/*The spanish button style works*/
