.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1a181b;
  /* background-image: url('/Users/violetacique/Developer/My-website-portfolio/code-info2.png');
  background-position: center center;
  background-size: 100% 100%; */
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 3%;
  /* width: 100%; */
  /* height: 100%; */
  gap: 15pt;
}

/* .code-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-image: url('/Users/violetacique/Developer/My-website-portfolio/code-info.png');
  background-position: center center;
  background-size: 100% 100%;
} */

.divider {
  background-color: #7f0799;
  height: 5pt;
}

.code-text {
  min-width: 200%;
  padding: 3%;
  font-size: 100%;
  color: #d3fff3;
  margin-bottom: 20pt;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 1026px) {
  .code-text {
    display: none;
  }
}
