.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 3%;
  /* width: 100%; */
  /* height: 100%; */
  gap: 15pt;
}
/* Here I want to move the buttons to the right and separate them from each other */
